# Data Processing Pipeline
This notebook gathers the data collected from prometheus and elastic and merges them into the definitive dataset then used for anomaly detection.

In [ ]:
import pandas as pd
import numpy as np

## Trimming of one dataset

In [ ]:
mem = pd.read_csv('drive/MyDrive/Tesi/Experiment/Data/Prometheus/grafana_data_export_mem4.csv', sep=';')
cp = pd.read_csv('drive/MyDrive/Tesi/Experiment/Data/Prometheus/grafana_data_export_cpu4.csv', sep=';')
dis = pd.read_csv('drive/MyDrive/Tesi/Experiment/Data/Prometheus/grafana_data_export_disk4.csv', sep=';')
net = pd.read_csv('drive/MyDrive/Tesi/Experiment/Data/Prometheus/grafana_data_export_network4.csv', sep=';')

In [ ]:
mem = mem[17:]
mem = mem[:-1]
cp = cp[17:]
cp = cp[:-1]
dis = dis[17:]
dis = dis[:-1]
net = net[17:]
net = net[:-1]

In [ ]:
mem.to_csv('drive/MyDrive/Tesi/Experiment/Data/Prometheus/grafana_data_export_mem4.csv', sep=';')
cp.to_csv('drive/MyDrive/Tesi/Experiment/Data/Prometheus/grafana_data_export_cpu4.csv', sep=';')
dis.to_csv('drive/MyDrive/Tesi/Experiment/Data/Prometheus/grafana_data_export_disk4.csv', sep=';')
net.to_csv('drive/MyDrive/Tesi/Experiment/Data/Prometheus/grafana_data_export_network4.csv', sep=';')

In [ ]:
mem = pd.read_csv('drive/MyDrive/Tesi/Experiment/Data/Prometheus/grafana_data_export_mem5.csv', sep=';')
cp = pd.read_csv('drive/MyDrive/Tesi/Experiment/Data/Prometheus/grafana_data_export_cpu5.csv', sep=';')
dis = pd.read_csv('drive/MyDrive/Tesi/Experiment/Data/Prometheus/grafana_data_export_disk5.csv', sep=';')
net = pd.read_csv('drive/MyDrive/Tesi/Experiment/Data/Prometheus/grafana_data_export_network5.csv', sep=';')

In [ ]:
mem = mem[:-1]
cp = cp[:-1]
dis = dis[:-1]
net = net[:-1]

In [ ]:
mem.to_csv('drive/MyDrive/Tesi/Experiment/Data/Prometheus/grafana_data_export_mem5.csv', sep=';')
cp.to_csv('drive/MyDrive/Tesi/Experiment/Data/Prometheus/grafana_data_export_cpu5.csv', sep=';')
dis.to_csv('drive/MyDrive/Tesi/Experiment/Data/Prometheus/grafana_data_export_disk5.csv', sep=';')
net.to_csv('drive/MyDrive/Tesi/Experiment/Data/Prometheus/grafana_data_export_network5.csv', sep=';')

## Memory metrics:

In [ ]:
m = pd.read_csv('drive/MyDrive/Tesi/Experiment/Data/Prometheus/grafana_data_export_mem5.csv', sep=';')
#m.drop(columns='Unnamed: 0', inplace=True, axis=1)

In [ ]:
len(m.columns)

10

In [ ]:
m.drop(columns='Unnamed: 0', inplace=True, axis=1)

In [ ]:
m

,Time,"node_memory_MemFree_bytes{app=""node-exporter"",controller_revision_hash=""664b4db9fb"",instance=""10.99.163.195:9100"",job=""kubernetes-pods"",kubernetes_namespace=""kube-system"",kubernetes_pod_name=""node-exporter-q8zx5"",pod_template_generation=""1""}","node_memory_MemFree_bytes{app=""node-exporter"",controller_revision_hash=""664b4db9fb"",instance=""10.99.163.196:9100"",job=""kubernetes-pods"",kubernetes_namespace=""kube-system"",kubernetes_pod_name=""node-exporter-6pz6r"",pod_template_generation=""1""}","node_memory_MemFree_bytes{app=""node-exporter"",controller_revision_hash=""664b4db9fb"",instance=""10.99.163.197:9100"",job=""kubernetes-pods"",kubernetes_namespace=""kube-system"",kubernetes_pod_name=""node-exporter-tw4s8"",pod_template_generation=""1""}","node_memory_MemFree_bytes{instance=""10.99.163.195:9100"",job=""kubernetes-service-endpoints"",kubernetes_name=""node-exporter"",kubernetes_namespace=""kube-system""}","node_memory_MemFree_bytes{instance=""10.99.163.195:9100"",job=""node-exporter""}","node_memory_MemFree_bytes{instance=""10.99.163.196:9100"",job=""kubernetes-service-endpoints"",kubernetes_name=""node-exporter"",kubernetes_namespace=""kube-system""}","node_memory_MemFree_bytes{instance=""10.99.163.196:9100"",job=""node-exporter""}","node_memory_MemFree_bytes{instance=""10.99.163.197:9100"",job=""kubernetes-service-endpoints"",kubernetes_name=""node-exporter"",kubernetes_namespace=""kube-system""}","node_memory_MemFree_bytes{instance=""10.99.163.197:9100"",job=""node-exporter""}"
0,2023-06-11T16:00:00+02:00,602046464,352075776,176574464,586244096,601014272,290140160,286830592,176140288,173838336
1,2023-06-11T16:01:00+02:00,901947392,343822336,175767552,901402624,899981312,344137728,344907776,172666880,172736512
2,2023-06-11T16:02:00+02:00,895090688,337137664,172208128,901570560,893599744,342122496,334336000,169820160,169951232
3,2023-06-11T16:03:00+02:00,894713856,334422016,175181824,892805120,895000576,334835712,336744448,169676800,169553920
4,2023-06-11T16:04:00+02:00,885911552,327716864,173289472,884613120,886644736,328249344,326795264,169906176,175013888
...,...,...,...,...,...,...,...,...,...,...
1255,2023-06-12T12:55:00+02:00,718041088,223424512,241573888,713232384,717176832,219271168,223666176,235798528,240066560
1256,2023-06-12T12:56:00+02:00,772628480,224935936,240054272,775327744,772546560,219041792,220962816,238551040,240513024
1257,2023-06-12T12:57:00+02:00,702263296,219598848,232902656,618233856,682106880,217899008,217501696,237899776,237006848
1258,2023-06-12T12:58:00+02:00,477798400,218963968,236306432,461996032,487579648,214302720,215035904,230944768,234717184
1259,2023-06-12T12:59:00+02:00,754958336,213102592,232763392,751194112,755425280,208605184,213749760,232034304,237273088

In [ ]:
m.to_csv('drive/MyDrive/Tesi/Experiment/Data/Prometheus/grafana_data_export_mem5.csv', sep=';')

In [ ]:
len(m.columns)

Index(['Time',
       'node_memory_MemFree_bytes{app="node-exporter",controller_revision_hash="664b4db9fb",instance="10.99.163.195:9100",job="kubernetes-pods",kubernetes_namespace="kube-system",kubernetes_pod_name="node-exporter-q8zx5",pod_template_generation="1"}',
       'node_memory_MemFree_bytes{app="node-exporter",controller_revision_hash="664b4db9fb",instance="10.99.163.196:9100",job="kubernetes-pods",kubernetes_namespace="kube-system",kubernetes_pod_name="node-exporter-6pz6r",pod_template_generation="1"}',
       'node_memory_MemFree_bytes{app="node-exporter",controller_revision_hash="664b4db9fb",instance="10.99.163.197:9100",job="kubernetes-pods",kubernetes_namespace="kube-system",kubernetes_pod_name="node-exporter-tw4s8",pod_template_generation="1"}',
       'node_memory_MemFree_bytes{instance="10.99.163.195:9100",job="kubernetes-service-endpoints",kubernetes_name="node-exporter",kubernetes_namespace="kube-system"}',
       'node_memory_MemFree_bytes{instance="10.99.163.195:9100",job="node-exporter"}',
       'node_memory_MemFree_bytes{instance="10.99.163.196:9100",job="kubernetes-service-endpoints",kubernetes_name="node-exporter",kubernetes_namespace="kube-system"}',
       'node_memory_MemFree_bytes{instance="10.99.163.196:9100",job="node-exporter"}',
       'node_memory_MemFree_bytes{instance="10.99.163.197:9100",job="kubernetes-service-endpoints",kubernetes_name="node-exporter",kubernetes_namespace="kube-system"}',
       'node_memory_MemFree_bytes{instance="10.99.163.197:9100",job="node-exporter"}'],
      dtype='object')

In [ ]:
memory_dfs = []
for n in range(0,7):
  memory = pd.read_csv('drive/MyDrive/Tesi/Experiment/Data/Prometheus/grafana_data_export_mem' + str(n) + '.csv', sep=';')
#  memory = memory.rename(columns={memory.columns[1]:'worker1_pods_mem', memory.columns[2]: 'worker2_pods_mem', memory.columns[3]:'worker3_pods_mem',
#               memory.columns[4]: 'worker1_endpoints_mem', memory.columns[5]:'worker1_nodexp_mem', memory.columns[6]:'worker2_endpoints_mem',
#              memory.columns[7]:'worker2_nodexp_mem', memory.columns[8]:'worker3_endpoints_mem', memory.columns[9]:'worker3_nodexp_mem'})
  if n==4:
    memory.drop(columns='Unnamed: 0', inplace=True, axis=1)
  if n==5:
    memory.drop(columns='Unnamed: 0', inplace=True, axis=1)

  memory = memory.rename(columns={
                    'node_memory_MemFree_bytes{app="node-exporter",controller_revision_hash="664b4db9fb",instance="10.99.163.195:9100",job="kubernetes-pods",kubernetes_namespace="kube-system",kubernetes_pod_name="node-exporter-q8zx5",pod_template_generation="1"}':'worker1_pods_mem',
                    'node_memory_MemFree_bytes{app="node-exporter",controller_revision_hash="664b4db9fb",instance="10.99.163.196:9100",job="kubernetes-pods",kubernetes_namespace="kube-system",kubernetes_pod_name="node-exporter-6pz6r",pod_template_generation="1"}': 'worker2_pods_mem',
                    'node_memory_MemFree_bytes{app="node-exporter",controller_revision_hash="664b4db9fb",instance="10.99.163.197:9100",job="kubernetes-pods",kubernetes_namespace="kube-system",kubernetes_pod_name="node-exporter-tw4s8",pod_template_generation="1"}': 'worker3_pods_mem',
                    'node_memory_MemFree_bytes{instance="10.99.163.195:9100",job="kubernetes-service-endpoints",kubernetes_name="node-exporter",kubernetes_namespace="kube-system"}': 'worker1_endpoints_mem',
                    'node_memory_MemFree_bytes{instance="10.99.163.195:9100",job="node-exporter"}': 'worker1_nodexp_mem',
                    'node_memory_MemFree_bytes{instance="10.99.163.196:9100",job="kubernetes-service-endpoints",kubernetes_name="node-exporter",kubernetes_namespace="kube-system"}': 'worker2_endpoints_mem',
                    'node_memory_MemFree_bytes{instance="10.99.163.196:9100",job="node-exporter"}': 'worker2_nodexp_mem',
                    'node_memory_MemFree_bytes{instance="10.99.163.197:9100",job="kubernetes-service-endpoints",kubernetes_name="node-exporter",kubernetes_namespace="kube-system"}': 'worker3_endpoints_mem',
                    'node_memory_MemFree_bytes{instance="10.99.163.197:9100",job="node-exporter"}': 'worker3_nodexp_mem'
  })
  memory_dfs.append(memory)

In [ ]:
memory_dfs[4] = memory_dfs[4][1:]

In [ ]:
memory_dfs[4]

,Time,worker1_pods_mem,worker2_pods_mem,worker3_pods_mem,worker1_endpoints_mem,worker1_nodexp_mem,worker2_endpoints_mem,worker2_nodexp_mem,worker3_endpoints_mem,worker3_nodexp_mem
1,2023-06-10T19:31:00+02:00,860655616,256638976,235597824,861274112,860954624,254566400,258965504,238927872,241385472
2,2023-06-10T19:32:00+02:00,934719488,252030976,236249088,931454976,934678528,249860096,252276736,224477184,227713024
3,2023-06-10T19:33:00+02:00,683122688,257372160,220766208,648880128,681316352,243945472,254939136,218656768,223076352
4,2023-06-10T19:34:00+02:00,546086912,255635456,208379904,924745728,546897920,254644224,258568192,208277504,207237120
5,2023-06-10T19:35:00+02:00,931172352,248844288,211304448,928677888,932163584,250273792,248827904,209686528,213221376
...,...,...,...,...,...,...,...,...,...,...
1225,2023-06-11T15:55:00+02:00,897609728,311513088,178835456,895676416,898617344,314638336,312406016,171515904,176107520
1226,2023-06-11T15:56:00+02:00,891072512,316448768,175587328,890228736,888426496,310525952,309071872,176603136,178425856
1227,2023-06-11T15:57:00+02:00,888774656,310206464,174272512,932540416,889581568,318697472,318828544,174022656,179601408
1228,2023-06-11T15:58:00+02:00,917409792,300535808,175898624,918716416,920174592,301604864,302379008,173301760,176676864
1229,2023-06-11T15:59:00+02:00,801402880,291897344,173486080,738447360,799911936,297930752,294739968,168349696,172167168

In [ ]:
memory_final = pd.concat([memory_dfs[0], memory_dfs[1], memory_dfs[2], memory_dfs[3], memory_dfs[4], memory_dfs[5], memory_dfs[6]])

In [ ]:
memory_final

,Time,worker1_pods_mem,worker2_pods_mem,worker3_pods_mem,worker1_endpoints_mem,worker1_nodexp_mem,worker2_endpoints_mem,worker2_nodexp_mem,worker3_endpoints_mem,worker3_nodexp_mem
0,2023-06-19T21:31:00+02:00,639586304,230330368,253050880,640978944,640479232,237125632,230060032,246542336,254631936
1,2023-06-19T21:32:00+02:00,553975808,230711296,244477952,551784448,554082304,227536896,226906112,244236288,246861824
2,2023-06-19T21:33:00+02:00,547811328,225599488,244146176,546283520,548646912,227987456,226426880,237510656,243691520
3,2023-06-19T21:34:00+02:00,356044800,223064064,237187072,338223104,350687232,223899648,222502912,236388352,239976448
4,2023-06-19T21:35:00+02:00,199028736,229629952,246292480,163348480,192589824,169795584,222674944,244523008,246706176
...,...,...,...,...,...,...,...,...,...,...
416,2023-06-12T19:56:00+02:00,615886848,306786304,238026752,620634112,619266048,300695552,302219264,239378432,242741248
417,2023-06-12T19:57:00+02:00,515747840,308367360,238551040,447143936,508751872,300933120,305573888,237273088,242589696
418,2023-06-12T19:58:00+02:00,335761408,307367936,234799104,321867776,333570048,300863488,300638208,225046528,231227392
419,2023-06-12T19:59:00+02:00,618864640,300826624,231501824,616652800,622469120,296894464,301539328,229466112,231772160
420,2023-06-12T20:00:00+02:00,611299328,297238528,225800192,613048320,608763904,297435136,296857600,224403456,226713600

In [ ]:
memory_final = memory_final.reset_index()
memory_final = memory_final.drop(axis=1, labels='index')
#memory_final = memory_final.drop(axis=1, labels='Unnamed: 0')
#memory_final = memory_final.drop(axis=1, labels='node_memory_MemFree_bytes{instance="10.99.163.197:9100",job="node-exporter"}')

In [ ]:
memory_final

,Time,worker1_pods_mem,worker2_pods_mem,worker3_pods_mem,worker1_endpoints_mem,worker1_nodexp_mem,worker2_endpoints_mem,worker2_nodexp_mem,worker3_endpoints_mem,worker3_nodexp_mem
0,2023-06-19T21:31:00+02:00,639586304,230330368,253050880,640978944,640479232,237125632,230060032,246542336,254631936
1,2023-06-19T21:32:00+02:00,553975808,230711296,244477952,551784448,554082304,227536896,226906112,244236288,246861824
2,2023-06-19T21:33:00+02:00,547811328,225599488,244146176,546283520,548646912,227987456,226426880,237510656,243691520
3,2023-06-19T21:34:00+02:00,356044800,223064064,237187072,338223104,350687232,223899648,222502912,236388352,239976448
4,2023-06-19T21:35:00+02:00,199028736,229629952,246292480,163348480,192589824,169795584,222674944,244523008,246706176
...,...,...,...,...,...,...,...,...,...,...
5665,2023-06-12T19:56:00+02:00,615886848,306786304,238026752,620634112,619266048,300695552,302219264,239378432,242741248
5666,2023-06-12T19:57:00+02:00,515747840,308367360,238551040,447143936,508751872,300933120,305573888,237273088,242589696
5667,2023-06-12T19:58:00+02:00,335761408,307367936,234799104,321867776,333570048,300863488,300638208,225046528,231227392
5668,2023-06-12T19:59:00+02:00,618864640,300826624,231501824,616652800,622469120,296894464,301539328,229466112,231772160
5669,2023-06-12T20:00:00+02:00,611299328,297238528,225800192,613048320,608763904,297435136,296857600,224403456,226713600

In [ ]:
memory_final.to_csv('drive/MyDrive/Tesi/Experiment/Data/RefinedFE/memoryFE.csv')

## Network metrics

In [ ]:
network_dfs = []
for n in range(0,7):
  network = pd.read_csv('drive/MyDrive/Tesi/Experiment/Data/Prometheus/grafana_data_export_network' + str(n) + '.csv', sep=';')
  network_filtered = network.iloc[:,4:7]
  network_filtered['Time'] = network['Time']
  network_filtered = network_filtered.rename(columns={network_filtered.columns[0]:'worker1_ens192', network_filtered.columns[1]: 'worker2_ens192', network_filtered.columns[2]:'worker3_ens192'})
  network_dfs.append(network_filtered)

In [ ]:
network_dfs[4] = network_dfs[4][1:]

In [ ]:
network_dfs[2]

     worker1_ens192  worker2_ens192  worker3_ens192                       Time
0      238475837837    201166912260    218941523507  2023-06-20T19:31:00+02:00
1      238480133734    201171164415    218947455789  2023-06-20T19:32:00+02:00
2      238484266505    201175373003    218953157969  2023-06-20T19:33:00+02:00
3      238488845269    201179681608    218960424420  2023-06-20T19:34:00+02:00
4      238493008655    201183702397    218966109852  2023-06-20T19:35:00+02:00
..              ...             ...             ...                        ...
715    241687429539    205226684728    225202338099  2023-06-21T07:26:00+02:00
716    241691212493    205229291872    225205677687  2023-06-21T07:27:00+02:00
717    241695275285    205232250168    225209176020  2023-06-21T07:28:00+02:00
718    241699216819    205235008890    225212729469  2023-06-21T07:29:00+02:00
719    241702966761    205237638379    225215645399  2023-06-21T07:30:00+02:00

[720 rows x 4 columns]

In [ ]:
network_final = pd.concat([network_dfs[0], network_dfs[1], network_dfs[2], network_dfs[3], network_dfs[4], network_dfs[5], network_dfs[6]])

In [ ]:
network_final

     worker1_ens192  worker2_ens192  worker3_ens192                       Time
0      232683470974    194357849539    208717867670  2023-06-19T21:31:00+02:00
1      232688035686    194362866148    208727431829  2023-06-19T21:32:00+02:00
2      232692500099    194368345886    208735034752  2023-06-19T21:33:00+02:00
3      232696822059    194373147623    208742354015  2023-06-19T21:34:00+02:00
4      232701044098    194378867027    208749644675  2023-06-19T21:35:00+02:00
..              ...             ...             ...                        ...
416    193528196140    170387507346    181065227533  2023-06-12T19:56:00+02:00
417    193532614541    170392982014    181073323800  2023-06-12T19:57:00+02:00
418    193536735485    170397894332    181079926981  2023-06-12T19:58:00+02:00
419    193541029735    170402953069    181087161573  2023-06-12T19:59:00+02:00
420    193545261604    170408446508    181095709001  2023-06-12T20:00:00+02:00

[5670 rows x 4 columns]

In [ ]:
network_final.drop(labels='Time', inplace=True, axis=1)
for c in network_final.columns:
  network_final[str(c)+'_delta'] = network_final[c].diff()
  network_final.drop(labels=str(c), inplace=True, axis=1)

In [ ]:
network_final

      worker1_ens192_delta  worker2_ens192_delta  worker3_ens192_delta
0                      NaN                   NaN                   NaN
1                4564712.0             5016609.0             9564159.0
2                4464413.0             5479738.0             7602923.0
3                4321960.0             4801737.0             7319263.0
4                4222039.0             5719404.0             7290660.0
...                    ...                   ...                   ...
5665             4402832.0             4986912.0             7087061.0
5666             4418401.0             5474668.0             8096267.0
5667             4120944.0             4912318.0             6603181.0
5668             4294250.0             5058737.0             7234592.0
5669             4231869.0             5493439.0             8547428.0

[5670 rows x 3 columns]

In [ ]:
network_final = network_final.reset_index()
network_final = network_final.drop(axis=1, labels='index')

In [ ]:
network_final.to_csv('drive/MyDrive/Tesi/Experiment/Data/Refined/network_delta.csv')

## CPU metrics

In [ ]:
def get_cpu_metrics_name(mode):
  cpu_node3 = cpu.loc[:,cpu.columns[pd.Series(cpu.columns.values).apply(lambda x: 'instance="10.99.163.197:9100",job="node-exporter",mode="'+str(mode) + '"' in x)]]
  cpu_node2 = cpu.loc[:,cpu.columns[pd.Series(cpu.columns.values).apply(lambda x: 'instance="10.99.163.196:9100",job="node-exporter",mode="'+str(mode) + '"' in x)]]
  cpu_node1 = cpu.loc[:,cpu.columns[pd.Series(cpu.columns.values).apply(lambda x: 'instance="10.99.163.195:9100",job="node-exporter",mode="'+str(mode) + '"' in x)]]

  return cpu_node1, cpu_node2, cpu_node3

In [ ]:
def aggregate_cpu(mode, cpu_node1, cpu_node2, cpu_node3):

  df_cpu_3[str(mode)+'_node3'] = pd.Series(np.random.randint(1, 2, size=len(cpu)))
  for i in cpu_node1.columns:
    df_cpu_3[str(mode)+'_node3'] += cpu[i]

  df_cpu_2[str(mode)+'_node2'] = pd.Series(np.random.randint(1, 2, size=len(cpu)))
  for i in cpu_node2.columns:
    df_cpu_2[str(mode)+'_node2'] += cpu[i]

  df_cpu_1[str(mode)+'_node1'] = pd.Series(np.random.randint(1, 2, size=len(cpu)))
  for i in cpu_node3.columns:
    df_cpu_1[str(mode)+'_node1'] += cpu[i]

In [ ]:
cpu_modes = ['idle', 'iowait', 'user', 'system', 'irq', 'softirq', 'nice', 'steal']

In [ ]:
cpu_dfs = []
for n in range(0,7):
  cpu = pd.read_csv('drive/MyDrive/Tesi/Experiment/Data/Prometheus/grafana_data_export_cpu' + str(n) + '.csv', sep=';')
  df_cpu_2 = pd.DataFrame()
  df_cpu_3 = pd.DataFrame()
  df_cpu_1 = pd.DataFrame()
  for i in cpu_modes:
    cpu_node1, cpu_node2, cpu_node3 = get_cpu_metrics_name(i)
    aggregate_cpu(i, cpu_node1, cpu_node2, cpu_node3)

  cpu_dfs.append(pd.concat([cpu['Time'], df_cpu_1, df_cpu_2, df_cpu_3], axis=1))

In [ ]:
cpu_dfs[4] = cpu_dfs[4][1:]

In [ ]:
cpu_final = pd.concat([cpu_dfs[0], cpu_dfs[1], cpu_dfs[2], cpu_dfs[3], cpu_dfs[4], cpu_dfs[5], cpu_dfs[6]])

In [ ]:
cpu_final

,Time,idle_node1,iowait_node1,user_node1,system_node1,irq_node1,softirq_node1,nice_node1,steal_node1,idle_node2,...,nice_node2,steal_node2,idle_node3,iowait_node3,user_node3,system_node3,irq_node3,softirq_node3,nice_node3,steal_node3
0,2023-06-19T21:31:00+02:00,53959813.24,79567.31,1059276.37,643628.55,1,63744.46,444.46,1,53574760.77,...,382.82,1,53516191.01,70798.06,1739779.62,588948.58,1,52599.22,437.45,1
1,2023-06-19T21:32:00+02:00,53960258.52,79567.79,1059295.98,643636.34,1,63745.35,444.46,1,53575214.21,...,382.82,1,53516615.35,70798.45,1739832.44,588955.09,1,52599.79,437.45,1
2,2023-06-19T21:33:00+02:00,53960703.11,79568.21,1059317.25,643643.63,1,63746.10,444.46,1,53575669.02,...,382.82,1,53517040.90,70798.87,1739883.57,588961.42,1,52600.40,437.45,1
3,2023-06-19T21:34:00+02:00,53961150.05,79568.58,1059336.64,643650.82,1,63746.96,444.46,1,53576124.48,...,382.82,1,53517456.69,70799.25,1739944.69,588968.29,1,52601.06,437.45,1
4,2023-06-19T21:35:00+02:00,53961593.54,79569.01,1059358.42,643658.08,1,63747.86,444.46,1,53576579.23,...,382.82,1,53517853.24,70799.59,1740025.93,588975.89,1,52601.71,437.45,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
416,2023-06-12T19:56:00+02:00,49310996.13,71028.00,973402.53,569757.31,1,58562.30,409.37,1,48930848.03,...,345.75,1,49190506.49,60650.65,1200245.30,536017.72,1,47769.54,397.95,1
417,2023-06-12T19:57:00+02:00,49311441.49,71028.42,973423.11,569764.57,1,58563.10,409.37,1,48931290.36,...,345.75,1,49190929.34,60650.98,1200299.22,536024.32,1,47770.15,397.95,1
418,2023-06-12T19:58:00+02:00,49311887.38,71028.81,973442.29,569772.36,1,58563.88,409.37,1,48931743.68,...,345.75,1,49191327.10,60651.26,1200380.71,536031.27,1,47770.72,397.95,1
419,2023-06-12T19:59:00+02:00,49312333.00,71029.21,973461.96,569780.00,1,58564.65,409.37,1,48932195.86,...,345.75,1,49191735.83,60651.59,1200449.06,536038.60,1,47771.40,397.95,1
420,2023-06-12T20:00:00+02:00,49312777.86,71029.60,973483.28,569786.93,1,58565.43,409.37,1,48932649.50,...,345.75,1,49192160.63,60652.03,1200500.43,536044.85,1,47772.03,397.95,1

In [ ]:
cpu_final.to_csv('drive/MyDrive/Tesi/Experiment/Data/Refined/cpu.csv')

## Disk metrics

In [ ]:
disk_dfs = []
for n in range(0,7):
  disk = pd.read_csv('drive/MyDrive/Tesi/Experiment/Data/Prometheus/grafana_data_export_disk' + str(n) + '.csv', sep=';')
  disk_filt = disk[['Time', 'node_disk_io_time_seconds_total{device="sdb",instance="10.99.163.195:9100",job="node-exporter"}',
                    'node_disk_io_time_seconds_total{device="sdb",instance="10.99.163.196:9100",job="node-exporter"}',
                    'node_disk_io_time_seconds_total{device="sdb",instance="10.99.163.197:9100",job="node-exporter"}',
                    'node_disk_read_bytes_total{device="sdb",instance="10.99.163.195:9100",job="node-exporter"}',
                    'node_disk_read_bytes_total{device="sdb",instance="10.99.163.196:9100",job="node-exporter"}',
                    'node_disk_read_bytes_total{device="sdb",instance="10.99.163.197:9100",job="node-exporter"}',
                    'node_disk_reads_completed_total{device="sdb",instance="10.99.163.195:9100",job="kubernetes-service-endpoints",kubernetes_name="node-exporter",kubernetes_namespace="kube-system"}',
                    'node_disk_reads_completed_total{device="sdb",instance="10.99.163.196:9100",job="kubernetes-service-endpoints",kubernetes_name="node-exporter",kubernetes_namespace="kube-system"}',
                    'node_disk_reads_completed_total{device="sdb",instance="10.99.163.197:9100",job="kubernetes-service-endpoints",kubernetes_name="node-exporter",kubernetes_namespace="kube-system"}']]
  disk_filt = disk_filt.rename(columns={
                    'node_disk_io_time_seconds_total{device="sdb",instance="10.99.163.195:9100",job="node-exporter"}':'io_time_sdb_node1',
                    'node_disk_io_time_seconds_total{device="sdb",instance="10.99.163.196:9100",job="node-exporter"}': 'io_time_sdb_node2',
                    'node_disk_io_time_seconds_total{device="sdb",instance="10.99.163.197:9100",job="node-exporter"}': 'io_time_sdb_node3',
                    'node_disk_read_bytes_total{device="sdb",instance="10.99.163.195:9100",job="node-exporter"}': 'read_bytes_tot_node1',
                    'node_disk_read_bytes_total{device="sdb",instance="10.99.163.196:9100",job="node-exporter"}': 'read_bytes_tot_node2',
                    'node_disk_read_bytes_total{device="sdb",instance="10.99.163.197:9100",job="node-exporter"}': 'read_bytes_tot_node3',
                    'node_disk_reads_completed_total{device="sdb",instance="10.99.163.195:9100",job="kubernetes-service-endpoints",kubernetes_name="node-exporter",kubernetes_namespace="kube-system"}': 'reads_completed_node1',
                    'node_disk_reads_completed_total{device="sdb",instance="10.99.163.196:9100",job="kubernetes-service-endpoints",kubernetes_name="node-exporter",kubernetes_namespace="kube-system"}': 'reads_completed_node2',
                    'node_disk_reads_completed_total{device="sdb",instance="10.99.163.197:9100",job="kubernetes-service-endpoints",kubernetes_name="node-exporter",kubernetes_namespace="kube-system"}': 'reads_completed_node3'
  })
  disk_dfs.append(disk_filt)

In [ ]:
disk_dfs[4] = disk_dfs[4][1:]

In [ ]:
disk_dfs[4]

,Time,io_time_sdb_node1,io_time_sdb_node2,io_time_sdb_node3,read_bytes_tot_node1,read_bytes_tot_node2,read_bytes_tot_node3,reads_completed_node1,reads_completed_node2,reads_completed_node3
1,2023-06-10T19:31:00+02:00,24975.376,22917.020,25118.904,2793201664,4491603968,5031755776,91563,246031,211617
2,2023-06-10T19:32:00+02:00,24976.120,22918.508,25120.300,2793201664,4491608064,5031755776,91563,246032,211617
3,2023-06-10T19:33:00+02:00,24981.856,22919.888,25121.592,2793201664,4491608064,5031755776,91563,246032,211617
4,2023-06-10T19:34:00+02:00,24982.676,22921.296,25129.372,2793201664,4491608064,5031759872,91563,246032,211618
5,2023-06-10T19:35:00+02:00,24983.380,22922.560,25130.524,2793201664,4491608064,5031759872,91563,246032,211618
...,...,...,...,...,...,...,...,...,...,...
1225,2023-06-11T15:55:00+02:00,26111.700,24628.032,26718.752,2851299328,4494012416,6012637184,93600,246154,219537
1226,2023-06-11T15:56:00+02:00,26113.856,24629.548,26720.176,2851299328,4494012416,6012637184,93600,246154,219537
1227,2023-06-11T15:57:00+02:00,26115.112,24631.012,26721.588,2851299328,4494012416,6012637184,93600,246154,219537
1228,2023-06-11T15:58:00+02:00,26116.368,24632.596,26722.952,2851299328,4494012416,6012637184,93600,246154,219537
1229,2023-06-11T15:59:00+02:00,26117.540,24634.144,26724.424,2851299328,4494012416,6012637184,93600,246154,219537

In [ ]:
disk_final = pd.concat([disk_dfs[0], disk_dfs[1], disk_dfs[2], disk_dfs[3], disk_dfs[4], disk_dfs[5], disk_dfs[6]])

In [ ]:
disk_final

,Time,io_time_sdb_node1,io_time_sdb_node2,io_time_sdb_node3,read_bytes_tot_node1,read_bytes_tot_node2,read_bytes_tot_node3,reads_completed_node1,reads_completed_node2,reads_completed_node3
0,2023-06-19T21:31:00+02:00,32000.032,34096.104,35520.696,3414564864,7750582272,6074261504,113002,273388,220900
1,2023-06-19T21:32:00+02:00,32000.732,34097.688,35521.988,3414564864,7750582272,6074261504,113002,273388,220900
2,2023-06-19T21:33:00+02:00,32001.520,34099.072,35523.180,3414564864,7750582272,6074261504,113002,273388,220900
3,2023-06-19T21:34:00+02:00,32002.212,34100.252,35524.296,3414564864,7750582272,6074261504,113002,273388,220900
4,2023-06-19T21:35:00+02:00,32002.836,34101.560,35525.548,3414564864,7750582272,6074261504,113002,273388,220900
...,...,...,...,...,...,...,...,...,...,...
416,2023-06-12T19:56:00+02:00,27707.088,27155.480,29032.612,2918998016,5974736896,6042214400,95918,257691,219975
417,2023-06-12T19:57:00+02:00,27707.760,27160.000,29033.736,2918998016,5983174656,6042214400,95918,259106,219975
418,2023-06-12T19:58:00+02:00,27708.272,27161.376,29034.932,2918998016,5983174656,6042214400,95918,259106,219975
419,2023-06-12T19:59:00+02:00,27708.928,27162.820,29036.160,2918998016,5983174656,6042214400,95918,259106,219975
420,2023-06-12T20:00:00+02:00,27709.680,27164.244,29037.312,2919002112,5983195136,6042214400,95919,259111,219975

In [ ]:
disk_final.to_csv('drive/MyDrive/Tesi/Experiment/Data/Refined/disk.csv')

## Final Dataset

In [ ]:
cpu = pd.read_csv('drive/MyDrive/Tesi/Experiment/Data/RefinedFE/cpuFE.csv', sep=',')
memory = pd.read_csv('drive/MyDrive/Tesi/Experiment/Data/RefinedFE/memoryFE.csv', sep=',')
disk = pd.read_csv('drive/MyDrive/Tesi/Experiment/Data/RefinedFE/diskFE.csv', sep=',')
network = pd.read_csv('drive/MyDrive/Tesi/Experiment/Data/RefinedFE/networkFE.csv', sep=',')
elastic_agg0 = pd.read_csv('drive/MyDrive/Tesi/Experiment/Data/Elastic/el_aggregate_train0.csv', sep=',')
elastic_agg1 = pd.read_csv('drive/MyDrive/Tesi/Experiment/Data/Elastic/el_aggregate_train1.csv', sep=',')

In [ ]:
elastic_agg1 = elastic_agg1.rename(columns={'doc_count': 'log_count'})

In [ ]:
elastic_agg_final = pd.concat([elastic_agg0, elastic_agg1])

In [ ]:
elastic_agg_final

      Unnamed: 0                 timestamp  log_count
0              0  2023-06-19T19:30:00.000Z       1842
1              1  2023-06-19T19:31:00.000Z       1467
2              2  2023-06-19T19:32:00.000Z       1756
3              3  2023-06-19T19:33:00.000Z       1521
4              4  2023-06-19T19:34:00.000Z       1840
...          ...                       ...        ...
2905        2905  2023-06-12T17:55:00.000Z       1536
2906        2906  2023-06-12T17:56:00.000Z       1649
2907        2907  2023-06-12T17:57:00.000Z       1624
2908        2908  2023-06-12T17:58:00.000Z       1594
2909        2909  2023-06-12T17:59:00.000Z       1888

[5670 rows x 3 columns]

In [ ]:
elastic_agg_final.drop(labels='Unnamed: 0', inplace=True, axis=1)
elastic_agg_final = elastic_agg_final.reset_index()
elastic_agg_final.drop(labels='index', inplace=True, axis=1)
elastic_agg_final

                     timestamp  log_count
0     2023-06-19T19:30:00.000Z       1842
1     2023-06-19T19:31:00.000Z       1467
2     2023-06-19T19:32:00.000Z       1756
3     2023-06-19T19:33:00.000Z       1521
4     2023-06-19T19:34:00.000Z       1840
...                        ...        ...
5665  2023-06-12T17:55:00.000Z       1536
5666  2023-06-12T17:56:00.000Z       1649
5667  2023-06-12T17:57:00.000Z       1624
5668  2023-06-12T17:58:00.000Z       1594
5669  2023-06-12T17:59:00.000Z       1888

[5670 rows x 2 columns]

In [ ]:
memory

,Unnamed: 0,Time,worker1_pods_mem,worker2_pods_mem,worker3_pods_mem,worker1_endpoints_mem,worker1_nodexp_mem,worker2_endpoints_mem,worker2_nodexp_mem,worker3_endpoints_mem,worker3_nodexp_mem
0,0,2023-06-19T21:31:00+02:00,639586304,230330368,253050880,640978944,640479232,237125632,230060032,246542336,254631936
1,1,2023-06-19T21:32:00+02:00,553975808,230711296,244477952,551784448,554082304,227536896,226906112,244236288,246861824
2,2,2023-06-19T21:33:00+02:00,547811328,225599488,244146176,546283520,548646912,227987456,226426880,237510656,243691520
3,3,2023-06-19T21:34:00+02:00,356044800,223064064,237187072,338223104,350687232,223899648,222502912,236388352,239976448
4,4,2023-06-19T21:35:00+02:00,199028736,229629952,246292480,163348480,192589824,169795584,222674944,244523008,246706176
...,...,...,...,...,...,...,...,...,...,...,...
5665,5665,2023-06-12T19:56:00+02:00,615886848,306786304,238026752,620634112,619266048,300695552,302219264,239378432,242741248
5666,5666,2023-06-12T19:57:00+02:00,515747840,308367360,238551040,447143936,508751872,300933120,305573888,237273088,242589696
5667,5667,2023-06-12T19:58:00+02:00,335761408,307367936,234799104,321867776,333570048,300863488,300638208,225046528,231227392
5668,5668,2023-06-12T19:59:00+02:00,618864640,300826624,231501824,616652800,622469120,296894464,301539328,229466112,231772160
5669,5669,2023-06-12T20:00:00+02:00,611299328,297238528,225800192,613048320,608763904,297435136,296857600,224403456,226713600

In [ ]:
network.drop(labels='Unnamed: 0', axis=1, inplace=True)
cpu.drop(labels='Unnamed: 0', axis=1, inplace=True)
memory.drop(labels='Unnamed: 0', axis=1, inplace=True)
disk.drop(labels='Unnamed: 0', axis=1, inplace=True)

In [ ]:
prometheus_train = pd.concat([cpu, memory, disk, network], axis=1)

In [ ]:
prometheus_train

,idle_node1_delta,iowait_node1_delta,user_node1_delta,system_node1_delta,irq_node1_delta,softirq_node1_delta,nice_node1_delta,steal_node1_delta,idle_node2_delta,iowait_node2_delta,...,io_time_sdb_node3_delta,read_bytes_tot_node1_delta,read_bytes_tot_node2_delta,read_bytes_tot_node3_delta,reads_completed_node1_delta,reads_completed_node2_delta,reads_completed_node3_delta,worker1_ens192_delta,worker2_ens192_delta,worker3_ens192_delta
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,445.28,0.48,19.61,7.79,0.0,0.89,0.0,0.0,453.44,0.47,...,1.292,0.0,0.0,0.0,0.0,0.0,0.0,4564712.0,5016609.0,9564159.0
2,444.59,0.42,21.27,7.29,0.0,0.75,0.0,0.0,454.81,0.45,...,1.192,0.0,0.0,0.0,0.0,0.0,0.0,4464413.0,5479738.0,7602923.0
3,446.94,0.37,19.39,7.19,0.0,0.86,0.0,0.0,455.46,0.42,...,1.116,0.0,0.0,0.0,0.0,0.0,0.0,4321960.0,4801737.0,7319263.0
4,443.49,0.43,21.78,7.26,0.0,0.90,0.0,0.0,454.75,0.42,...,1.252,0.0,0.0,0.0,0.0,0.0,0.0,4222039.0,5719404.0,7290660.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5665,446.62,0.43,19.23,7.04,0.0,0.72,0.0,0.0,415.90,14.62,...,1.180,0.0,491835392.0,0.0,0.0,3787.0,0.0,4402832.0,4986912.0,7087061.0
5666,445.36,0.42,20.58,7.26,0.0,0.80,0.0,0.0,442.33,3.84,...,1.124,0.0,8437760.0,0.0,0.0,1415.0,0.0,4418401.0,5474668.0,8096267.0
5667,445.89,0.39,19.18,7.79,0.0,0.78,0.0,0.0,453.32,0.46,...,1.196,0.0,0.0,0.0,0.0,0.0,0.0,4120944.0,4912318.0,6603181.0
5668,445.62,0.40,19.67,7.64,0.0,0.77,0.0,0.0,452.18,0.60,...,1.228,0.0,0.0,0.0,0.0,0.0,0.0,4294250.0,5058737.0,7234592.0
5669,444.86,0.39,21.32,6.93,0.0,0.78,0.0,0.0,453.64,0.47,...,1.152,4096.0,20480.0,0.0,1.0,5.0,0.0,4231869.0,5493439.0,8547428.0

In [ ]:
train_set = prometheus_train[1:]

In [ ]:
train_set

,idle_node1_delta,iowait_node1_delta,user_node1_delta,system_node1_delta,irq_node1_delta,softirq_node1_delta,nice_node1_delta,steal_node1_delta,idle_node2_delta,iowait_node2_delta,...,io_time_sdb_node3_delta,read_bytes_tot_node1_delta,read_bytes_tot_node2_delta,read_bytes_tot_node3_delta,reads_completed_node1_delta,reads_completed_node2_delta,reads_completed_node3_delta,worker1_ens192_delta,worker2_ens192_delta,worker3_ens192_delta
1,445.28,0.48,19.61,7.79,0.0,0.89,0.0,0.0,453.44,0.47,...,1.292,0.0,0.0,0.0,0.0,0.0,0.0,4564712.0,5016609.0,9564159.0
2,444.59,0.42,21.27,7.29,0.0,0.75,0.0,0.0,454.81,0.45,...,1.192,0.0,0.0,0.0,0.0,0.0,0.0,4464413.0,5479738.0,7602923.0
3,446.94,0.37,19.39,7.19,0.0,0.86,0.0,0.0,455.46,0.42,...,1.116,0.0,0.0,0.0,0.0,0.0,0.0,4321960.0,4801737.0,7319263.0
4,443.49,0.43,21.78,7.26,0.0,0.90,0.0,0.0,454.75,0.42,...,1.252,0.0,0.0,0.0,0.0,0.0,0.0,4222039.0,5719404.0,7290660.0
5,444.83,0.42,20.79,7.43,0.0,0.75,0.0,0.0,454.49,0.42,...,1.156,716800.0,0.0,0.0,16.0,0.0,0.0,4386564.0,5276439.0,7959451.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5665,446.62,0.43,19.23,7.04,0.0,0.72,0.0,0.0,415.90,14.62,...,1.180,0.0,491835392.0,0.0,0.0,3787.0,0.0,4402832.0,4986912.0,7087061.0
5666,445.36,0.42,20.58,7.26,0.0,0.80,0.0,0.0,442.33,3.84,...,1.124,0.0,8437760.0,0.0,0.0,1415.0,0.0,4418401.0,5474668.0,8096267.0
5667,445.89,0.39,19.18,7.79,0.0,0.78,0.0,0.0,453.32,0.46,...,1.196,0.0,0.0,0.0,0.0,0.0,0.0,4120944.0,4912318.0,6603181.0
5668,445.62,0.40,19.67,7.64,0.0,0.77,0.0,0.0,452.18,0.60,...,1.228,0.0,0.0,0.0,0.0,0.0,0.0,4294250.0,5058737.0,7234592.0
5669,444.86,0.39,21.32,6.93,0.0,0.78,0.0,0.0,453.64,0.47,...,1.152,4096.0,20480.0,0.0,1.0,5.0,0.0,4231869.0,5493439.0,8547428.0

In [ ]:
elastic_agg_final = elastic_agg_final[1:]

In [ ]:
log_count = elastic_agg_final['log_count'].astype(int)

In [ ]:
train_set['produced_logs'] = log_count

<ipython-input-30-55065ccfcbfa>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_set['produced_logs'] = log_count

In [ ]:
train_set

,idle_node1_delta,iowait_node1_delta,user_node1_delta,system_node1_delta,irq_node1_delta,softirq_node1_delta,nice_node1_delta,steal_node1_delta,idle_node2_delta,iowait_node2_delta,...,read_bytes_tot_node1_delta,read_bytes_tot_node2_delta,read_bytes_tot_node3_delta,reads_completed_node1_delta,reads_completed_node2_delta,reads_completed_node3_delta,worker1_ens192_delta,worker2_ens192_delta,worker3_ens192_delta,produced_logs
1,445.28,0.48,19.61,7.79,0.0,0.89,0.0,0.0,453.44,0.47,...,0.0,0.0,0.0,0.0,0.0,0.0,4564712.0,5016609.0,9564159.0,1467
2,444.59,0.42,21.27,7.29,0.0,0.75,0.0,0.0,454.81,0.45,...,0.0,0.0,0.0,0.0,0.0,0.0,4464413.0,5479738.0,7602923.0,1756
3,446.94,0.37,19.39,7.19,0.0,0.86,0.0,0.0,455.46,0.42,...,0.0,0.0,0.0,0.0,0.0,0.0,4321960.0,4801737.0,7319263.0,1521
4,443.49,0.43,21.78,7.26,0.0,0.90,0.0,0.0,454.75,0.42,...,0.0,0.0,0.0,0.0,0.0,0.0,4222039.0,5719404.0,7290660.0,1840
5,444.83,0.42,20.79,7.43,0.0,0.75,0.0,0.0,454.49,0.42,...,716800.0,0.0,0.0,16.0,0.0,0.0,4386564.0,5276439.0,7959451.0,1694
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5665,446.62,0.43,19.23,7.04,0.0,0.72,0.0,0.0,415.90,14.62,...,0.0,491835392.0,0.0,0.0,3787.0,0.0,4402832.0,4986912.0,7087061.0,1536
5666,445.36,0.42,20.58,7.26,0.0,0.80,0.0,0.0,442.33,3.84,...,0.0,8437760.0,0.0,0.0,1415.0,0.0,4418401.0,5474668.0,8096267.0,1649
5667,445.89,0.39,19.18,7.79,0.0,0.78,0.0,0.0,453.32,0.46,...,0.0,0.0,0.0,0.0,0.0,0.0,4120944.0,4912318.0,6603181.0,1624
5668,445.62,0.40,19.67,7.64,0.0,0.77,0.0,0.0,452.18,0.60,...,0.0,0.0,0.0,0.0,0.0,0.0,4294250.0,5058737.0,7234592.0,1594
5669,444.86,0.39,21.32,6.93,0.0,0.78,0.0,0.0,453.64,0.47,...,4096.0,20480.0,0.0,1.0,5.0,0.0,4231869.0,5493439.0,8547428.0,1888

In [ ]:
train_set.to_csv('drive/MyDrive/Tesi/Experiment/Data/train_final.csv')